<div class="row justify-content-center">
  <div class="col-12">
    <h1 class="text-center text-danger mb-4">Registro BarcelonActiva</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label>Full Name</label>
        <input type="text" formControlName="fullname" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" />
        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
          <div *ngIf="f['fullname'].errors['required']">Fullname is required</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">Username is required</div>
          <div *ngIf="f['username'].errors['minlength']">Username must be at least 6 characters</div>
          <div *ngIf="f['username'].errors['maxlength']">Username must not exceed 20 characters</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
          <div *ngIf="f['password'].errors['maxlength']">password must not exceed 40 characters</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
          <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
          <div *ngIf="f['confirmPassword'].errors['matching']">Confirm Password does not match</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Edad</label>
        <input type="number" formControlName="edad" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['edad'].errors }" />
        <div *ngIf="submitted && f['edad'].errors" class="invalid-feedback">
          <div *ngIf="f['edad'].errors['required']">Edad is required</div>
          <div *ngIf="f['edad'].errors['menorDeEdad']">Debes ser mayor de edad</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Url</label>
        <input type="text" formControlName="url" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['url'].errors }" />
        <div *ngIf="submitted && f['url'].errors" class="invalid-feedback">
          <div *ngIf="f['url'].errors['required']">Url is required</div>
          <div *ngIf="f['url'].errors['urlValid']">This is not URL format</div>
        </div>
      </div>




      <div class="form-group form-check mb-3">
        <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
          [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" />
        <label for="acceptTerms" class="form-check-label">I have read and agree to the Terms</label>
        <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">Accept Terms is required</div>
      </div>

      <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary me-2">Register</button>
        <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
      </div>

    </form>

  </div>
</div>